<h2>Categoria de Producto</h2>

<form action="demo_form.asp">
  <input type="checkbox" name="Plantillas" value="plantilla" checked>Plantillas<br>
  <input type="checkbox" name="Bolsos de transporte" value="bolso">Bolsos de transporte<br>
  <input type="checkbox" name="Tokens" value="token">Tokens<br>
  <input type="checkbox" name="Escenografía" value="Escenografía">Escenografía<br>
  <br>
  <input type="submit" value="Agregar">
</form>